.faq-section p,
.accordion {
    width: 75%;
}

.accordion .accordion-button:focus,
.accordion .accordion-button:not(.collapsed) {
    box-shadow: none;
}

.accordion .accordion-button:not(.collapsed) {
    background-color: #dc3545;
    color: #ffffff;
}

.accordion .accordion-button:not(.collapsed)::after {
    filter: invert();
}

@media only screen and (max-width: 992px) {
    .faq-section p,
    .accordion {
        width: 100%;
    }
}


.faq-wrapper {
    padding: 40px 0;
}

.faq-layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.faq-ad {
    width: 160px; /* Adjust size of the ad space */
}

.faq-section {
    max-width: 800px;
}
