.courses-page header {
    background-image: linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75)), 
                      url(../../utils/images/courses-page-header.jpg);
    background-size: cover; 
    background-position: center;  
    background-repeat: no-repeat;
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.courses-page .card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.courses-page .card-img-overlay {
    background-color: rgba(5, 10, 35, 0.7);
}

.courses-page .card:hover {
    cursor: pointer;
}